body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/dia.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

body.darkTheme{
    background-image: url(img/noite.png);
    color: rgb(255, 255, 255);
}

header, main, footer{
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.329);
}

.themeStatus{
    font-size: 35px;
}