* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

#game-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    /* Phaser canvas will inject here */
}
