@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 0fr 0.3fr 0.2fr 1fr 0.2fr;
        grid-template-areas: "h h h"
                             "a a a"
                             "m m m"
                             "c1 c2 c3"
                             "f f f";
    }
}