* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

p {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    margin-top: 10px;
}

canvas {
    border: 5px solid #555;
    border-radius: 30px;
}

div{
    text-align: center;
}